<?xml version="1.0"?>
<!--
/**
 * @category    Aligent
 * @package     Aligent_WebsiteSwitcher
 * @copyright   Copyright (c) 2013 Aligent Consulting. (http://www.aligent.com.au)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 *
 * @author 		Luke Mills <luke@aligent.com.au>
 */
-->
<config>
    <modules>
        <Aligent_WebsiteSwitcher>
            <version>0.0.0</version>
        </Aligent_WebsiteSwitcher>
    </modules>
    <frontend>
        <layout>
            <updates>
                <aligent_websiteswitcher>
                    <file>aligent/websiteswitcher.xml</file>
                </aligent_websiteswitcher>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <aligent_websiteswitcher>
                <class>Aligent_WebsiteSwitcher_Helper</class>
            </aligent_websiteswitcher>
        </helpers>
        <models>
            <aligent_websiteswitcher>
                <class>Aligent_WebsiteSwitcher_Model</class>
            </aligent_websiteswitcher>
        </models>
        <blocks>
            <aligent_websiteswitcher>
                <class>Aligent_WebsiteSwitcher_Block</class>
            </aligent_websiteswitcher>
        </blocks>
        <events>
            <controller_front_init_before>
                <observers>
                    <aligent_websiteswitcher_setstorecookie>
                        <type>singleton</type>
                        <class>aligent_websiteswitcher/observer</class>
                        <method>setStoreCookie</method>
                    </aligent_websiteswitcher_setstorecookie>
                </observers>
            </controller_front_init_before>
            <controller_action_layout_load_before>
                <observers>
                    <aligent_websiteswitcher_setlayouthandles>
                        <type>singleton</type>
                        <class>aligent_websiteswitcher/observer</class>
                        <method>setLayoutHandles</method>
                    </aligent_websiteswitcher_setlayouthandles>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aligent_website_switcher>
                                            <title>Aligent</title>
                                        </aligent_website_switcher>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <aligent_website_switcher>
            <website_switcher>
                <display_in_menu>0</display_in_menu>
                <display_modal>1</display_modal>
                <limit_to_website>0</limit_to_website>
                <use_geoip>0</use_geoip>
            </website_switcher>
        </aligent_website_switcher>
    </default>

</config>